<form
  [formGroup]="subjectForm"
  method="get"
  class="mb-4"
  (ngSubmit)="onSubmit()"
>
  <div class="row g-3 align-items-end">
    <div class="col-md-3">
      <label for="searchString">Tìm Kiếm :</label>
      <input type="text" formControlName="key" class="form-control" />
    </div>
    <div class="col-md-2">
      <label for="max">Ngày yêu cầu:</label>
      <input type="date" formControlName="requestDate" class="form-control" />
    </div>

    <div class="col-md-3">
      <label>Tìm Kiếm theo trạng thái:</label>
      <input type="text" formControlName="status" class="form-control" />
    </div>
    <input type="hidden" formControlName="pageNumber" />
    <input type="hidden" formControlName="pageSize" />
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
  </div>
</form>
<a routerLink="add" class="btn btn-success">Thêm mới</a>
<table class="table" id="myTable">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">custommer Name</th>
      <th scope="col">PhoneNumber</th>
      <th scope="col">customer Email</th>
      <th scope="col">customer Message</th>
      <th scope="col">request Type</th>
      <th scope="col">request Time</th>
      <th scope="col">status</th>
      <th scope="col">node</th>
      <th scope="col">respondentId</th>
      <th scope="col">responseTime</th>
      <th scope="col">Select</th>
    </tr>
  </thead>
  <tbody>
    <tr class="@rowClass" *ngFor="let item of listContactModel">
      <td>{{ item.requestId }}</td>
      <td>{{ item.custommerName }}</td>
      <td>{{ item.customerPhoneNumber }}</td>
      <td>{{ item.customerEmail }}</td>
      <td>{{ item.customerMessage }}</td>
      <td>{{ item.requestType }}</td>
      <td>{{ item.requestTime | date : "dd/MM/yyyy" }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.note }}</td>
      <td>{{ item.respondentId }}</td>
      <td>{{ item.responseTime | date : "dd/MM/yyyy" }}</td>
      <td>
        <a [routerLink]="['edit', item.requestId]" class="btn btn-primary"
          >Edit</a
        >

        <a
          href="javascrip:void(0)"
          class="btn btn-danger"
          (click)="onDelete(item.requestId)"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
