*{
  margin: 0px auto;
}

.informationcontact{
  display: flex;
  width: 3000px;
  height: 500px;
}
.text-contact{
  width: 30%;
  color: gray;
  margin-left: 0px;
  padding-left: 250px;
  padding-top: 100px;
b{
    color: black;
  }
  button{
    width: 221px;
    height: 71px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
  }
}
.image-location{
  width: 70%;
  height: 500px;
  border: 2px solid black;
}

