<!-- <!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <title>Trang quản trị</title>
</head>

<body>
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="main">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
</body>

</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FinFlow Dashboard</title>
  </head>

  <body>
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <!-- Header -->
      <app-navbar></app-navbar>
      <div class="contain">
        <router-outlet></router-outlet>
      </div>
    </div>
  </body>
</html>
