<p>setting-add works!</p>

<form [formGroup]="settingAddForm" (ngSubmit)="onSubmit()">
  <div class="mb-3 form-check">
    <label class="form-label">Từ khóa</label>
    <input type="text" class="form-control" formControlName="key" required />
    <div *ngIf="submited && f['key'].errors">
      <small *ngIf="f['key'].errors['required']">Từ khóa không để trống</small>
    </div>
  </div>

  <div class="mb-3 form-check">
    <label class="form-label">Giá trị</label>
    <input type="text" class="form-control" formControlName="value" required />
    <div *ngIf="submited && f['value'].errors">
      <small *ngIf="f['value'].errors['required']"
        >Giá trị không để trống</small
      >
    </div>
  </div>

  <div class="mb-3 form-check">
    <label class="form-label">Kiểu cài đặt</label>
    <input
      type="text"
      class="form-control"
      formControlName="settingType"
      required
    />
    <div *ngIf="submited && f['settingType'].errors">
      <small *ngIf="f['settingType'].errors['required']"
        >Kiểu cài đặt không để trống</small
      >
    </div>
  </div>

  <div class="mb-3 form-check">
    <label class="form-label">Mô tả</label>
    <input type="text" class="form-control" formControlName="discription" />
  </div>

  <div class="mb-3 form-check">
    <label class="form-label">Hiển thị trên trang chủ</label>
    <input
      type="checkbox"
      class="form-check-input"
      formControlName="displayOnHome"
    />
  </div>

  <div class="mb-3 form-check">
    <label class="form-label">Thứ tự hiển thị</label>
    <input
      type="number"
      class="form-control"
      formControlName="displayOrderOnHome"
    />
  </div>

  <div class="mb-3 form-check">
    <button type="submit" class="btn btn-primary">Lưu</button>
  </div>
</form>
