<form method="get" class="mb-4">
    <div class="row g-3 align-items-end">
        <div class="col-md-3">
            <label for="min">Ngày nhỏ nhất:</label>
            <input type="date" name="min" id="min" class="form-control" />
        </div>
        <div class="col-md-3">
            <label for="max">Ngày lớn nhất:</label>
            <input type="date" name="max" id="max" class="form-control" />
        </div>
        <div class="col-md-3">
            <label for="searchString">Tìm Kiếm:</label>
            <input type="search" name="searchString" id="searchString" class="form-control" />
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </div>
</form>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Tên người dùng</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
            <tr class="@rowClass">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
</table>
