<app-header></app-header>
<!-- <div class="title-text"><h2>Photo<br> <b>Gallery</b></h2></div>
<div class="image-list">
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 22.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 23.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 24.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 25.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 26.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 27.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 28.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 29.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 30.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="assets/Images/Rectangle 31.png" alt="Mountains" width="600"
          height="400">
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="button-sline">
  <button> <- </button>
  <button>-></button>
</div> -->
<image-slider-gallery [slides] ="slides"></image-slider-gallery>
<app-footer></app-footer>
