<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Our <br>
  <b>Project</b></h1>
  <div class="banner-about">
        <img src="/src/assets/Images/image 30.png" alt="">
        <div class="banner-text-about">
          <h1>Sample Project</h1>
          <span>Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also
            the leap into electronic typesetting, remaining essentially
            unchanged.</span>
        </div>
      </div>
        <div class="banner-about">
        <img src="/src/assets/Images/image 32.png.png" alt="">
        <div class="banner-text-about">
          <h1>Sample Project</h1>
          <span>Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also
            the leap into electronic typesetting, remaining essentially
            unchanged.</span>
        </div>
      </div>
        <div class="banner-about">
        <img src="/src/assets/Images/image 33.png.png" alt="">
        <div class="banner-text-about">
          <h1>Sample Project</h1>
          <span>Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also
            the leap into electronic typesetting, remaining essentially
            unchanged.</span>
        </div>
      </div>
</body>
</html>
