<footer>
  <div class="footer">
    <div class="row">
      <img src="assets/Images/icon-bt.png" alt="logo">
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Information</a></li>
        <li><a href="#">Main</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Certifications</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Contact</a></li>
        <li style="width: 170px; margin-top: 20px;" *ngFor="let setting of footerSettings">
  <i
    class="fa"
    [ngClass]="{
      'fa-marker': setting.key.toLowerCase().includes('address'),
      'fa-phone': setting.key.toLowerCase().includes('phone'),
      'fa-envelope': setting.key.toLowerCase().includes('email'),
      'fa-info-circle': !setting.key.toLowerCase().includes('email') && !setting.key.toLowerCase().includes('phone') && !setting.key.toLowerCase().includes('address')
    }"
    aria-hidden="true"
  ></i>

  <a *ngIf="setting.key.toLowerCase().includes('email')" [href]="'mailto:' + setting.value">
    {{ setting.value }}
  </a>

  <a *ngIf="setting.key.toLowerCase().includes('phone')" [href]="'tel:' + setting.value">
    {{ setting.value }}
  </a>

  <span *ngIf="!setting.key.toLowerCase().includes('email') && !setting.key.toLowerCase().includes('phone')">
    {{ setting.value }}
  </span>
</li>

      </ul>
    </div>

    <!-- MẠNG XÃ HỘI -->
    <div class="row">
      <p>Social Media</p>
      <div class="row-icon">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
      </div>
    </div>
  </div>

  <hr>

  <p>© 2021 All Rights Reserved</p>
</footer>
