*{
  margin: 0px auto;
}

.title-text {
  width:1170px;
  text-align: left;
  margin-top: 30px;
}
div.polaroid {
  // width: 80%;
  width:1170px;
  height: 435px;
  background-color: white;
  display: flex;
  margin-top: 30px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
.text-2{
  text-align: left;
  font-size: 13px;
}
}

img {
  width: 120%;
   background-color: gray;
}

div.container {
    text-align: left;
    padding: 10px 50px;
    float: left;
    h1{
      margin-bottom: 20px;
    }
}


