<p>project-add works!</p>
<form
  method="post"
  [formGroup]="projectAddForm"
  (ngSubmit)="onSubmit()"
  enctype="multipart/form-data"
>
  <div class="mb-3 form-check">
    <label class="form-label">galleryName</label>
    <input
      type="text"
      class="form-control"
      formControlName="galleryName"
      required
    />
    <div *ngIf="submited && f['galleryName'].errors">
      <small *ngIf="f['galleryName'].errors['required']"
        >Tên địa điểm không để trống</small
      >
    </div>
  </div>
  <div class="mb-3 form-check">
    <label class="form-label">address</label>
    <input
      type="text"
      class="form-control"
      formControlName="address"
      required
    />
    <div *ngIf="submited && f['address'].errors">
      <small *ngIf="f['address'].errors['required']"
        >Địa chỉ không để trống</small
      >
    </div>
  </div>

  <div class="mb-3 form-check">
    <label class="form-label">Hình ảnh địa điểm</label><br />
    <img width="150px" height="150px" [src]="imageurl" />
    <br />
    <label class="custom-file-label">
      Chọn ảnh
      <input type="file" (change)="onFileSelected($event)" hidden />
    </label>
  </div>
  <input type="hidden" formControlName="displayOrderOnHome" />
  <input type="hidden" formControlName="displayOrderOnHeader" />
  <input type="hidden" formControlName="idPoster" />
  <div class="mb-3 form-check">
    <button type="submit" class="btn btn-primary">Lưu</button>
  </div>
</form>
