<!-- <app-header></app-header> -->
<header>
  <div class="contact-top">
    <div class="profile-contact">
      <p>DIGITAL PROJECT</p>
    </div>
    <div class="link">
      <a class="btn btn-primary">MAIN</a>
      <a class="btn btn-primary">GALLERY</a>
      <a class="btn btn-primary">PROJECTS</a>
      <a class="btn btn-primary">CERTIFICATIONS</a>
      <a class="btn btn-primary">CONTACTS</a>
    </div>
  </div>
</header>
<div class="banner">
  <div class="banner-project">
    <div class="banner-text-project">
      <h1>PROJECT <b>Lorum</b></h1>
    </div>
    <img src="~/Images/Rectangle 6.png" alt>
  </div>
  <div class="banner-about">

    <img src="~/Images/Rectangle 6.png" alt>
    <div class="banner-text-about">
      <h1>About</h1>
      <span>Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially
        unchanged.</span>
    </div>
  </div>
</div>
<div class="main">
  <h1>Main Focus/Mission Statement</h1>
  <div class="list-number">
    <div class="list-one">
      <img src="~/Images/Rectangle 6.png" alt>
      <div class="list-one-text">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Sed efficitur, lectus et facilisis placerat.</span>
      </div>
    </div>
    <div class="list-two">
      <img src alt>
      <div class="list-two-text">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Sed efficitur, lectus et facilisis placerat.</span>
      </div>
    </div>
  </div>
</div>
<div class="project">
  <h1>Our Projects</h1>
  <div class="container">
  </div>
  <button>ALL PROJECTS -></button>
</div>
<div class="contact">
  <h1>Contact Us</h1>
  <div class="contact-us">
    <div class="input-text">
      <form action="/">
        <input placeholder="Name" type="text" id="name" name="name"><br><br>
        <input placeholder="Phone Number" type="text" id="phonename" name="name"><br><br>
        <input placeholder="E-mail" type="text" id="email" name="name"><br><br>
        <input placeholder="Interested In" type="text" id="interestedin" name="phonename"><br><br>
        <input placeholder="Message" type="text" id="message" name="phonename"><br><br>
      </form>
    </div>
    <img src="~/Images/Rectangle 6.png" alt>
  </div>
  <button>SEND MAIL -></button>
</div>
<!-- <footer></footer> -->

