<form method="get" class="mb-4">
    <div class="row g-3 align-items-end">
        <div class="col-md-3">
            <label for="min">Ngày nhỏ nhất:</label>
            <input type="date" name="min" id="min" class="form-control" />
        </div>
        <div class="col-md-3">
            <label for="max">Ngày lớn nhất:</label>
            <input type="date" name="max" id="max" class="form-control" />
        </div>
        <div class="col-md-3">
            <label for="searchString">Tìm Kiếm:</label>
            <input type="search" name="searchString" id="searchString" class="form-control" />
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </div>
</form>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">galleryId</th>
            <th scope="col">galleryName</th>
            <th scope="col">imageUrl</th>
            <th scope="col">createAt</th>
            <th scope="col">address</th>
            <th scope="col">posterId</th>
            <th scope="col">displayorder</th>
          
        </tr>
    </thead>
    <tbody>
            <tr class="@rowClass" *ngFor="let i of galleryList ">
              <td>{{i.galleryId}}</td>
              <td>{{i.galleryName}}</td>
              <td>{{i.imageUrl}}</td>
              <td>{{i.createAt}}</td>
              <td>{{i.address}}</td>
              <td>{{i.posterId}}</td>
              <td>{{i.displayorder}}</td>
              
            </tr>
</table>
