body {
  margin: 0;
  overflow-x: hidden;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
  background: #2C2C2C;
  height: 440px;
  font-family: 'Play', sans-serif;
}
p{
  color: white;
  text-align: center;
  font-size: 12px;
}
.footer {
  display: flex;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: white;
  font-size: 0.8em;
}

.footer .row:nth-child(1) {
  padding-left: 10%;
}

.footer .row a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  // display:inline-block;
  margin: 0px 30px;
  list-style-type: none;
  padding-bottom: 30px;

  i {
    margin-right: 10px;
  }
}

#number {
  padding-top: 50px;
}

#gmail {
  padding-top: 25px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}


.row:nth-child(4) {
  text-align: center;

  .row-icon {
    padding-bottom: 200px;
  }
}

.row p {
  height: 0px;
  padding-right: 120px;
}

.row .row-icon {
  margin-right: 0px;
  padding-left: 40px;
}

.row .row-icon a i {
  margin-right: 30px;
}

.row img {
  width: 145px;
  height: 94px;
  margin: 0px auto;
}

hr {
  width: 100%;
  size: 5px;
  align: center;
  color: white;
}

@media (max-width:720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}

// .row :first-child{
//   display: flex;
// }
