
<footer>
  <div class="footer">

    <div class="row">
      <img src="assets/Images/icon-bt.png" alt>
    </div>
    <div class="row">
      <ul>
        <li><a href="#">Information</a></li>
        <li><a href="#">Main</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Certifications</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Contact</a></li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">1234 Sample Street<br>Austin Texas 78704</a></li>
        <li id="number"><i class="fa fa-phone" aria-hidden="true"></i><a href="#">512.333.2222</a></li>
        <li id="gmail"><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">sampleemailgmail.com</a></li>
      </ul>
    </div>

    <div class="row">
      <p>Social Media</p>
      <div class="row-icon">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
      </div>
    </div>
  </div>
   <hr>
  <p>© 2021 All Rights Reserved</p>
</footer>
