<app-header></app-header>
<div class="informationcontact">
  <div class="text-contact">
    <h1>Contact<br><b>Information</b></h1>
    <p>Company Name</p>
   <p *ngFor="let setting of ContactInforSettings">
          <i
            class="fa"
            [ngClass]="{

              'fa-map-marker': setting.key.toLowerCase().includes('address'),
              'fa-phone': setting.key.toLowerCase().includes('phone'),
              'fa-envelope': setting.key.toLowerCase().includes('email'),
              'fa-info-circle': !setting.key.toLowerCase().includes('email') && !setting.key.toLowerCase().includes('phone') && !setting.key.toLowerCase().includes('address')
            }"
            aria-hidden="true"
          ></i>
          <a
            *ngIf="setting.key.toLowerCase().includes('email')"
            [href]="'mailto:' + setting.value"
          >{{ setting.value }}</a>

          <a
            *ngIf="setting.key.toLowerCase().includes('phone')"
            [href]="'tel:' + setting.value"
          >{{ setting.value }}</a>

          <span *ngIf="!setting.key.toLowerCase().includes('email') && !setting.key.toLowerCase().includes('phone')">
            {{ setting.value }}
          </span>
        </p>
    <button>CONTACT US</button>
  </div>
  <div class="image-location">
  <img src="assets/Images/map.png">



  <!-- <div class="myapi">AIzaSyC9rnC7s9kL6E59OJuIRHOxrPcV2jS5hyA</div> -->
  </div>
</div>
<app-footer></app-footer>
