<!-- <div class="layout">
    <div class="sidebar">
      <h2>Chao mung den trang admin</h2>
      <ul style="list-style: none; padding-left: 0;">
        <li>
          <a asp-controller="Product" asp-action="/">➕ Manage User</a>
        </li>
        <li>
          <a asp-controller="Product" asp-action="/">🗂️ Manage Gallery</a>
        </li>
        <li>
          <a asp-controller="Product" asp-action="/">🗂️ Manage Project</a>
        </li>
        <li>
          <a asp-controller="Product" asp-action="/">🗂️ Manage Contact</a>
        </li>
        <li>
          <a asp-controller="Product" asp-action="/">🗂️ Manage Information Company</a>
        </li>
        <li>
          <a asp-controller="Admin" asp-action="/">ℹ️ Thông tin admin</a>
        </li>
        <li>
          <a asp-controller="Account" asp-action="Logout" (click)="logout()">🚪 Đăng xuất</a>
        </li>
      </ul>
    </div>
  </div> -->
<div class="sidebar">
  <a routerLink="gallery">Manage Gallery</a>
  <a routerLink="project">Manage Project</a>
</div>
