<div class="login-form">
  <h1><b>Đăng nhập</b></h1>
  <div class="form-group">
    <!-- <input type="text" name="uname" class="form-control" [(ngModel)]="username" /> -->
    <input placeholder="username" type="text" name="uname" class="form-control"
    [(ngModel)]="loginForm.email" />
  </div>
  <div class="form-group">
    <input placeholder="password" type="password" name="pword" class="form-control"
    [(ngModel)]="loginForm.password" />
  </div>
  <input type="checkbox" name id>
  <span>Отправляя заявку Вы соглашаетесь
    с политикой
    конфиденциальности</span>
  <div class="btn-container">
    <button class="btn btn-dark" (click)="logIn()">Login</button>
  </div>
</div>
